:root {
    --primary-color: #20232a;
    --secondary-color: #61dafb;
    --background-color: #f0f0f0;
    --text-color: #20232a;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.1em;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

main {
    margin-bottom: 2rem;
}

section {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: auto;
}

.subsection {
    background-color: #3b88c380;
    padding: 1rem;
    font-size: 0.9em;
    margin-top: 1rem;
    margin-bottom: 0;
}

h1, h2 {
    margin: 0 0 1rem 0;
}

p, pre {
    line-height: 1.6;
    margin-top: 1rem;
}

section {
    clear: both;
}

section img {
    float: right;
    border-radius: 8px;
    margin-left: 1em;
    width: 40%;
    max-width: 350px;
    clear: both;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #f6f8fa;
    border-radius: 6px;
    color: #24292e;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    "Liberation Mono", "Courier New", monospace;
    border: 1px solid rgba(27,31,35,0.15);
}
